.dark-button {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-padding: 10 20 10 20;
}
.dark-button-2 {
    -fx-background-color: #1F1F1F;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #444;
}

.company-buttons > .button {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: white;
    -fx-padding: 8 16;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-opacity: 100;
}